<!-- 
<h1> Welcome to Hotel Hilton</h1> -->
    <!-- 
    <app-employee></app-employee> -->
    <!-- <app-rooms></app-rooms> -->

<!-- <app-container>
    <app-rooms></app-rooms>
    <app-employee></app-employee>
    <h1> This is form ng-content</h1>
</app-container> -->

<!-- <div #name>

</div> -->

<!-- <div>
    <ng-template #user></ng-template>
</div> -->


<!-- <div [ngSwitch] = "role">
    <div *ngSwitchCase="'User'"> Welcome User!</div>
    <div *ngSwitchCase="'Admin'">
    <app-rooms></app-rooms>
    </div>
    <div *ngSwitchDefault>
        Your are not Authorized to view this page!
    </div>
</div> -->
<!-- <a [routerLink]="'rooms'"> Rooms</a> -->
<!-- <a [routerLink]="'employee'"> Employee</a> -->
<app-app-nav></app-app-nav>
<!-- <router-outlet></router-outlet> -->