<p>booking works!</p>
{{ bookingForm.value | json }}
{{ bookingForm.pristine | json }}
{{ bookingForm.dirty | json }}

<form class=".example-form" [formGroup]="bookingForm" (ngSubmit)="addBooking()">
  <mat-form-field class="example-full-width">
    <input
      type="text"
      matInput
      formControlName="roomId"
      placeholder="Room Id"
    />
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input
      type="text"
      matInput
      formControlName="guestName"
      placeholder="Guest Name"
    />
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input
      type="email"
      matInput
      formControlName="guestEmail"
      placeholder="Provide an Email"
    />
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input
      type="text"
      matInput
      formControlName="mobileNumber"
      placeholder="Mobile Number"
    />
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input
      type="number"
      matInput
      formControlName="bookingAmount"
      placeholder="Booking Amount"
    />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Check-In Date</mat-label>
    <input
      matInput
      [matDatepicker]="checkinPicker"
      formControlName="checkinDate"
    />
    <mat-datepicker-toggle
      matSuffix
      [for]="checkinPicker"
    ></mat-datepicker-toggle>
    <mat-datepicker #checkinPicker></mat-datepicker>
  </mat-form-field>
  <br />
  <mat-form-field>
    <mat-label>Check-Out Date</mat-label>
    <input
      matInput
      [matDatepicker]="checkoutPicker"
      formControlName="checkoutDate"
    />
    <mat-datepicker-toggle
      matSuffix
      [for]="checkoutPicker"
    ></mat-datepicker-toggle>
    <mat-datepicker #checkoutPicker></mat-datepicker>
  </mat-form-field>
  <br />
  <mat-form-field>
    <mat-label>Booking Date</mat-label>
    <input
      matInput
      [matDatepicker]="bookingPicker"
      formControlName="bookingDate"
    />
    <mat-datepicker-toggle
      matSuffix
      [for]="bookingPicker"
    ></mat-datepicker-toggle>
    <mat-datepicker #bookingPicker></mat-datepicker>
  </mat-form-field>

  <!-- //address nestedForms -->
    <div formGroupName="address">
        <mat-accordion class="example-headers-align" multi>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                <mat-panel-title> Address </mat-panel-title>
                </mat-expansion-panel-header>

                <mat-form-field>
                    <input
                        type="text"
                        matInput
                        formControlName="addressLine1"
                        placeholder="address Line 1"
                    />
                </mat-form-field>

                <mat-form-field>
                    <input
                        type="text"
                        matInput
                        formControlName="addressLine2"
                        placeholder="address Line 2"
                    />
                </mat-form-field>

                <mat-form-field>
                    <input
                        type="text"
                        matInput
                        formControlName="city"
                        placeholder="city"
                    />
                </mat-form-field>

                <mat-form-field>
                    <input
                        type="text"
                        matInput
                        formControlName="state"
                        placeholder="State"
                    />
                </mat-form-field>

                <mat-form-field>
                    <input
                        type="text"
                        matInput
                        formControlName="country"
                        placeholder="Country"
                    />
                </mat-form-field>

                <mat-form-field>
                    <input
                        type="text"
                        matInput
                        formControlName="zipCode"
                        placeholder="Zip Code"
                    />
                </mat-form-field>

                
            </mat-expansion-panel>
        </mat-accordion>
    </div>

  <div>
    <button mat-raised-button color="primary">Book Room</button>
  </div>
</form>
